@use '../variables/' as *;


.n-wrapper {
    height: 10vh;
    width: 100%;
    display: flex; // make same line
    justify-content: space-between;
    color: $white;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(66, 66, 66, 0.2);
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    // border: 1px solid rgba(206, 206, 206, 0.3);
    .n-left {
        flex: 1;
        align-items: center;
        justify-content: left;
        display: flex;
        gap: 2rem;
        padding: 35px;
        .n-name {
            font-size: 1.8rem;
            font-weight: bold;
        }
    }
}


.n-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    .n-list {
        flex: 0;
        ul {
            display: flex;
            gap: 2rem;
            margin-right: 4rem;
            :hover {
                color: rgb(221, 208, 181);
                cursor: pointer;
            }
        }
    }
}


@media screen and (max-width: $mobile){
    .n-list {
        display: none;
    }
}

@media screen and (max-width: $tablet){
    .n-list {
        display: none;
    }
}