@use '../variables/' as *;


.n-wrapper {
    height: 10vh;
    display: flex; // make same line
    justify-content: space-between;
    color: $white;
    .n-left {
        flex: 1;
        align-items: center;
        justify-content: left;
        display: flex;
        gap: 2rem;
        padding: 35px;
        .n-name {
            font-size: 1.8rem;
            font-weight: bold;
        }
    }
}


.n-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    .n-list {
        flex: 0;
        ul {
            display: flex;
            gap: 2rem;
            margin-right: 4rem;
            :hover {
                color: rgb(221, 208, 181);
                cursor: pointer;
            }
        }
    }
}


@media screen and (max-width: $mobile){
    .n-list {
        display: none;
    }
}

@media screen and (max-width: $tablet){
    .n-list {
        display: none;
    }
}