@use '../variables/' as *;

.main-page {
    height: 100vh;
    .container {
        height: 100%;
        .title-container {
            z-index: 0;
            position: absolute;
            top: 50%;
            left: 5%;
            width: 25em;
            padding: 20px;      
            transform: translate(0, -50%);
            font-size: 1.5em;
            border: 5px solid rgb(46, 33, 33); 
            outline: 5px solid rgb(56, 56, 56);
            animation-name: moveInleft;
            animation-duration: 2.5s;
            box-shadow: 
            0 0 0 5px hsl(0, 0%, 50%),
            0 0 0 10px hsl(0, 0%, 60%),
            0 0 0 15px hsl(0, 0%, 70%),
            0 0 0 20px hsl(0, 0%, 80%),
            0 0 0 25px hsl(0, 0%, 90%);
            .title {
                h1 {
                    font-weight: bold;
                }
                .text-to-introduce-my-self {
                    color: $yellow;
                    font-size: 20px;
                }
            }
        }


        .i-social-media {
            font-size: 2.2em;
            padding: 0px 0px 10px;
        .i-social-list {
            display: flex;
            gap: 1.1rem;
            margin-right: 4rem;
            a { 
                color: $yellow; 
                    :hover 
                    {
                        color: rgb(138, 136, 136);
                    }
                }
            }
        }
    }
}

// .m-pages {
//     padding: 60px;
//     width: 100%;
//     .m-container {
//         padding: 15px;
//         width: 45%;
//         animation-name: moveInleft;
//         animation-duration: 2.5s;
//     }

// }

@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    // 80% {
    //     transform: translateX(5px);
    // }
    100% {
        opacity: 1;
    }
}


@media screen and (max-width: $tablet) {
    .main-page {
        .container {
            .title-container {
                width: 15em;
                .title {
                    h1 {
                        font-size: calc(1.8rem + .8vw);
                    }
                    h2 {
                        font-size: calc(1.2rem + .9vw);
                    }
                }
            }

            .i-social-media {
                font-size: 1.5em;
            }
        }
    }
}


@media screen and (max-width: $mobile) {
    .main-page {
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            .title-container {
                width: 12em;
                .title {
                    h2 {
                        font-size: calc(1rem + .6vw);
                    }
                }
            }

            .i-social-media {
                font-size: 1.2em;
            }
        }
    }
}