@use '../variables/' as *;
.container
    {
        .pics-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 50vh;
            padding: 5vh;
            .top-box {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 10px 0 30px;
            }

            .bottom-box {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: auto;
            }
        }
        .pics {
            width: 150px;
            height: 150px;
            margin: 10px;
            text-align: center;
        }

}