@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
// font family
$font-ubuntu: 'Ubuntu', sans-serif;


//color
$main: #000;
$white: #fff;
$yellow: #6c6c60;

// title size
@for $index from 1 through 6 {
    h#{$index} {
        font-family: $font-ubuntu;
        color: $white;
        margin: 0;
        line-height: 1.2;
    }
}



* {
    // background-color: $main;
    // font-family: $font-ubuntu;
    padding: 0;
    margin: 0;
}

body,html {
    height: 100%;
    background: #000000;
    color: $white;
}


:export {
    main: $main;
    white: $white;
    yellow: $yellow;
    font-family: $font-ubuntu;
}